.blogListHeader {
  margin: unset;
  width: 100%;
  max-width: 80ch;
  flex-grow: 1;
  padding: 1rem;
}

.blogList {
  margin: 1rem 0;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
