html {
  background-color: #f1f5f9;
  font-family: sans-serif;
  height: 100%;
}

html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid #fff;
}

html::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

html::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.nav-links {
  position: absolute;
  width: 100%;
  top: 5rem;
  left: 0;
  background-color: #ff9776;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  transition: max-height 0.5s;
}

.nav-links a {
  display: block;
  position: sticky;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  max-height: 100%;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

@media screen and (min-width: 636px) {
  .nav-links {
    position: unset;
    display: flex;
    width: auto;
    background: none;
    justify-content: center;
    max-height: 100%;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}
