:root {
  --margin-height: 35px;
  --margin-to-border: 0.5rem;
  --dark-font-base-color: #29415c;
  --light-font-base-color: #c5e8f5;
}

html {
  --sky-gradient: linear-gradient(
    -45deg,
    #94c5f8 1%,
    #a6e6ff 70%,
    #b1b5ea 100%
  );
  color: var(--dark-font-base-color);
  font-family: sans-serif;
  height: 100%;
  scrollbar-gutter: stable;
  background-image: url("/assets/cloud.png"), var(--sky-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradient 300s ease infinite;
}

a {
  color: var(--dark-font-base-color);
  fill: var(--dark-font-base-color);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}
.content-container {
  margin: 0 auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 110px);
  top: calc(var(--margin-height) + 1.5rem);
  overflow-y: scroll;
}

.content {
  width: calc(100% - 2rem);
  max-width: 80ch;
  flex-grow: 1;
  padding: 1rem;
  margin: 1rem;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.nav-links {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: calc(var(--margin-height) + 20px);
  left: 0;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  transition: max-height 0.5s;
}

.nav-links a {
  margin: 5px calc(2 * var(--margin-to-border)) 0;
  display: block;
  position: sticky;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: calc(100% - 4 * var(--margin-to-border));
  overflow: visible;
}

.expanded {
  max-height: 100%;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  overflow: visible;
  width: 0;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

/* Material Styles */

.glass {
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgba(255, 255, 255, 0.61);
}

/* Dark Theme variations */

html.dark {
  --sky-gradient: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
  color: var(--light-font-base-color);
}

.dark a {
  color: var(--light-font-base-color);
  fill: var(--light-font-base-color);
}

/* Desktop Layout variations */

@media screen and (min-width: 636px) {
  .nav-links {
    position: unset;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: auto;
    max-height: 100%;
  }

  .nav-links a {
    display: inline-block;
    width: auto;
    margin: calc(var(--margin-to-border) / 2) 0 0 0;
    padding: 15px 30px;
  }
}
