.themeToggle {
  border: 0;
  background: none;
  position: absolute;
  right: 1rem;
  top: calc(var(--margin-to-border) + 10px);
}
.sun {
  fill: var(--dark-font-base-color);
}
.moon {
  fill: transparent;
}

:global(.dark) .sun {
  fill: transparent;
}
:global(.dark) .moon {
  fill: var(--light-font-base-color);
}
