.themeToggle {
  border: 0;
  background: none;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.sun {
  fill: black;
}
.moon {
  fill: transparent;
}

:global(.dark) .sun {
  fill: transparent;
}
:global(.dark) .moon {
  fill: white;
}

@media screen and (min-width: 636px) {
  .themeToggle {
    bottom: 1rem;
  }
}
