---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello folks!</h2>

  <p>
    My name is Francesco Wild. I'm a software and game developer. Here's some
    fun facts about me:
  </p>
  <ul>
    <li>I'm Italian but I have been living in London since 2018</li>
    <li>I worked for more than 4 years as Falconer</li>
    <li>
      I owe my love for videogames to my grandad who made me play with him since
      I was kid
    </li>
    <li>
      I owe my love for creating stories to my dad who used to come up with new
      spiderman stories for me
    </li>
  </ul>

  <p>
    I am working through building a personal blog and portfolio. This site will
    update as I complete more projects, so keep checking back and see how my
    journey is going!
  </p>
  <p>
    I have a wide range of working experience, from web designer, a pizza-boy,
    falconer and many others. All of these experiences contributed to build my
    skillset and the person I am today.
  </p>
  <p>
    I am passionate about technology and I love videogames, role play game,
    movies, music and TV shows.
  </p>
  <p>
    In my free time I love bringing my passions into my job developing web
    solutions for TTRPg and small videogames in addition to content and
    campaigns for my players.
  </p>
</BaseLayout>
