---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Francesco Wild";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Game and Software Developer</h2>
  <h3>Every problem is a challenge.</h3>
  <h3>Like sudoku.</h3>
  <h3>But way more entertaining.</h3>
  <p>
    I am a game developer with more than 10 years of experience in programming,
    including front-end, back-end, web design, mobile app and videogame
    development.
  </p>

  <p>
    I provide game, web and software development services. This is my personal
    website and portfolio where you can find some example of my works.
  </p>
</BaseLayout>
