---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Francesco Wild";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Game and Software Developer</h2>
  <h2>Every problem is a challenge.</h2>
  <h3>Like sudoku. But way more entertaining.</h3>
  <p>
    I am a game developer with more than 10 years of experience in programming,
    including front-end, back-end, web design, mobile app mobile app and
    videogame development.
  </p>
  <p>
    I have a wide range of working experience, from web designer, a pizza-boy,
    falconer and many others. All of these experiences contributed to build my
    skillset and the person I am today. I am passionate about technology and I
    love videogames, role play game, movies, music and TV shows. In my free time
    I love bringing my passions into my job developing web solutions for TTRPg
    and small videogames in addition to content and campaigns for my players.
  </p>
</BaseLayout>
