---

---

<div class="nav-links">
  {
    Astro.url.pathname == "/" ? (
      <a class="glass" style="cursor: pointer;">
        Home
      </a>
    ) : (
      <a class="glass" href="/" data-astro-prefetch="tap">
        Home
      </a>
    )
  }
  {
    Astro.url.pathname == "/about/" ? (
      <a class="glass" style="cursor: pointer;">
        About
      </a>
    ) : (
      <a class="glass" href="/about/" data-astro-prefetch="tap">
        About
      </a>
    )
  }
  {
    Astro.url.pathname == "/blog/" ? (
      <a class="glass" style="cursor: pointer;">
        Blog
      </a>
    ) : (
      <a class="glass" href="/blog/" data-astro-prefetch="tap">
        Blog
      </a>
    )
  }
  {
    Astro.url.pathname == "/tags/" ? (
      <a class="glass" style="cursor: pointer;">
        Tags
      </a>
    ) : (
      <a class="glass" href="/tags/" data-astro-prefetch="tap">
        Tags
      </a>
    )
  }
</div>
