---
import ThemeIcon from "./ThemeIcon";
---

<div class="nav-links">
  <a href="/" data-astro-prefetch="tap">Home</a>
  <a href="/about/" data-astro-prefetch="tap">About</a>
  <a href="/blog/" data-astro-prefetch="tap">Blog</a>
  <a href="/tags/" data-astro-prefetch="tap">Tags</a>
  <ThemeIcon client:only />
</div>
