---
const { tags } = Astro.props;
---

<div class="tags">
  {
    (tags as string[]).map((tag) => (
      <p>
        <a class="glass tag" href={`/tags/${tag}`} data-astro-prefetch="tap">
          {tag}
        </a>
      </p>
    ))
  }
</div>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
  }
</style>
